/* Add your styles here */
.two-column { 
    background-color: purple;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: dotted;
    cursor: grab;
}
.right {
    background-color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
title {
    font-weight: 300;

}
